body {
    background-color: transparent;
}

h1,h2,p{
    font-size: 2.5em;
}

p {
    font-size: 1.3em;
}

#alert-area {
    text-align: center;
    text-shadow: 2px 2px blue;
    opacity: 0;
}

#alert-area img {
    display: none;
}

#sub-title {
    color: yellow;
    font-family: 'Daggerfall';
}

#sub-message {
    color: white;
    font-family: 'Daggerfall';
}

#brb-text {
    display: none;
    position: absolute;
    top: 360px;
    right: 100px;
    color: yellow;
    font-size: 4em;
    font-family: 'Daggerfall';
}

#spectrum-surface {
    image-rendering: pixelated;
    display: none;
    position: absolute;
    top: 620px;
    left: 0px;
}
