body {
    background-color: black;
}

h1,h2{
    font-size: 3em;
}

#alert-area {
    text-align: center;
    text-shadow: 2px 2px blue;
    opacity: 0;
}

#sub-title {
    color: yellow;
    font-family: 'Magic Cards';
}

#sub-message {
    color: white;
    font-family: 'ProFontWindows';
}